@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* font family */
  --font-roboto: "Roboto", sans-serif;
  --font-josefin: "Josefin Sans", sans-serif;

  /* color */
  /* --color-black: #000000;
    --color-white: #FFFFFF; */

  /* breakpoints  */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1440px;
}

@layer base {
  body {
    @apply font-roboto bg-black;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-josefin font-bold text-white;
  }

  span {
    @apply inline-block;
  }

  input:focus {
    @apply !shadow-none !outline-0;
  }

  button,
  a {
    @apply transition-all duration-300 cursor-pointer max-h-none inline-block;
  }
}

@layer components {
  .container-custom {
    @apply sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1120px] 2xl:max-w-[1352px] mx-auto px-5;
  }
}

@layer utilities {
  .swiper-fade .swiper-slide {
    opacity: 0 !important;
    transition: opacity 1.5s ease-in-out !important;
  }

  .swiper-fade .swiper-slide-active {
    opacity: 1 !important;
  }

  .banner-shape {
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: solid .25rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;
    
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height: 100px;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 111%;
    z-index: 10;
    background: linear-gradient( to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84% );
    transform: translateX(-50%);
  }

  .banner-shape::after {
    content: '';
    position: absolute;
    top: 4px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: -.25rem;
    border-radius: inherit;
    background: radial-gradient( 50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100% ),black;
  }
}
