@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* font family */
  --font-roboto: "Roboto", sans-serif;
  --font-josefin: "Josefin Sans", sans-serif;

  /* color */
  /* --color-black: #000000;
    --color-white: #FFFFFF; */

  /* breakpoints  */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1440px;
}

@layer base {
  body {
    @apply font-roboto bg-black;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-josefin font-bold text-white;
  }

  span {
    @apply inline-block;
  }

  input:focus {
    @apply !shadow-none !outline-0;
  }

  button,
  a {
    @apply transition-all duration-300 cursor-pointer max-h-none inline-block;
  }
}

@layer components {
  .container-custom {
    @apply sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1120px] 2xl:max-w-[1352px] mx-auto px-5;
  }
}

@layer utilities {
  .swiper-fade .swiper-slide {
    opacity: 0 !important;
    transition: opacity 1.5s ease-in-out !important;
  }

  .swiper-fade .swiper-slide-active {
    opacity: 1 !important;
  }

  .banner-shape {
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: solid 0.25rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;

    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height: 100px;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 111%;
    z-index: 10;
    background: linear-gradient(
      to right,
      rgba(33, 13, 22, 1) 16%,
      rgba(184, 40, 105, 1),
      rgba(229, 9, 20, 1),
      rgba(184, 40, 105, 1),
      rgba(33, 13, 22, 1) 84%
    );
    transform: translateX(-50%);
  }

  .banner-shape::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: -0.25rem;
    border-radius: inherit;
    background: radial-gradient(
        50% 500% at 50% -420%,
        rgba(64, 97, 231, 0.4) 80%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      black;
  }

  .zoom-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transform-origin: center center;
    /* hardware-accelerate */
    will-change: transform;
    backface-visibility: hidden;
    /* smooth animation */
    animation: zoomInOut 10s ease-in-out infinite;
  }

  /* keyframes: scale up then back down */
  @keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.3);
    }
  }


  /* commonSwiper */

  .commonSwiper .swiper-button-prev,
  .commonSwiper .swiper-button-next {
    @apply !w-8 !h-8 sm:!w-10 sm:!h-10 p-2.5 sm:p-3;
    border-radius: 50%;
    font-weight: 600;
    text-align: center;
    color: var(--color-white) !important;
    background-color: var(--color-black);
    transition: 0.3s all ease-in-out;
    position: absolute !important;
    top: 23px !important;
    background-color: var(--color-red-500);
  }

  .commonSwiper .swiper-button-next {
    right: 70px !important;
  }

  .commonSwiper .swiper-button-prev {
    @apply !right-[110px] sm:!right-[120px];
    left: initial !important;
  }

  .commonSwiper .swiper-button-prev:hover,
  .commonSwiper .swiper-button-next:hover {
    background-color: var(--color-red-600);
    transition: 0.3s all ease-in-out;
  }


  .serial-span {
    line-height: 1;
    display: inline-block;
    color: rgb(65,65,65);
    -webkit-text-stroke: 1px rgb(255,255,255);
    text-shadow: 0 0 1.5rem rgba(0,0,0,0.5);
    -webkit-text-fill-color: rgb(0,0,0);
  }

}
